body {
  width: 400px;
  background-color: #323;
  color: #dcd
}

a:visited, a:link {
  color: rgb(206, 158, 255);
}

a:hover {
  color: rgb(229, 186, 250);
}

button {
  background-color: rgb(206, 158, 255);
  padding: 2px 8px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(229, 186, 250);
}